footer{
    font-size: 15px;
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #121212;
    color: white;
    text-align: center;
    padding: 1px 0; /* Reduced padding to make the footer smaller */
    border-top: 1px solid #292929;
}